<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>photoHost</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>APPNAME requires access to your phone’s camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to allow you to share content with your friends.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone to record audio for your videos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to upload and edit photos.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Agdasima-Regular.ttf</string>
		<string>GreatVibes-Regular.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>PlaywriteGBS-Regular.ttf</string>
		<string>RussoOne-Regular.ttf</string>
		<string>Caveat-Regular.ttf</string>
		<string>Comfortaa-Regular.ttf</string>
		<string>CormorantGaramond-Regular.ttf</string>
		<string>Jost-Regular.ttf</string>
		<string>Lobster-Regular.ttf</string>
		<string>NotoSansHK-Regular.ttf</string>
		<string>Pacifico-Regular.ttf</string>
		<string>Tiny5-Regular.ttf</string>
		<string>AdventPro_Expanded-Regular.ttf</string>
		<string>Alice-Regular.ttf</string>
		<string>AmaticSC-Regular.ttf</string>
		<string>BadScript-Regular.ttf</string>
		<string>DelaGothicOne-Regular.ttf</string>
		<string>Geologica_Auto-Regular.ttf</string>
		<string>PlayfairDisplaySC-Regular.ttf</string>
		<string>PressStart2P-Regular.ttf</string>
		<string>RubikMonoOne-Regular.ttf</string>
		<string>Unbounded-Regular.ttf</string>
		<string>YanoneKaffeesatz-Regular.ttf</string>
		<string>AlegreyaSansSC-Regular.ttf</string>
		<string>BalsamiqSans-Regular.ttf</string>
		<string>CormorantInfant-Regular.ttf</string>
		<string>DaysOne-Regular.ttf</string>
		<string>MarckScript-Regular.ttf</string>
		<string>Pattaya-Regular.ttf</string>
		<string>ProstoOne-Regular.ttf</string>
		<string>RubikSprayPaint-Regular.ttf</string>
		<string>SofiaSansExtraCondensed-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
