<key>NSCameraUsageDescription</key>
<string>We need access to your camera to take photos.</string>
<key>NSLocationWhenInUseUsageDescription</key>
<string>We need access to your location to provide personalized content.</string>
<key>NSContactsUsageDescription</key>
<string>We need access to your contacts to show contact information</string>